body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.container_image{
    position : fixed;
    width : 100%;	
    bottom: 0px;
}	

#container_canvas{
    z-index: -1000;
    background-color : #ddf;
}

#brochure{
   position : absolute;
   width : 40%;
   left : 30%;
   top : 5%;
   height : 95%;
   border-color: #ffffff -moz-use-text-color;
   border-radius: 10px 10px 0 0;
   border-style: solid solid none;
   border-width: 5px 0 0;
   z-index : 400;
}

#brochure_sub{
   position : absolute;
   width : 100%;
   height : 90%;
   background-color : #000000;
   z-index : 400;  	
}	

#brochure img{
   padding-left : 25%;
   width : 50%;
   height : 20%;
}	

.overlay_container{
    position : fixed;
    width : 100%;
    height : 100%;
    z-index : 300;
    display : none;
    background-color : #ddd;
    opacity : 0.5;
}

.overlay{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #000000 #000000 -moz-use-text-color;
    border-radius: 10px 10px 0 0;
    border-style: solid solid none;
    border-width: 5px 5px 0;
    box-shadow: 0 20px 35px #ddd;
    font-family: "Serif";
    overflow-y: scroll; 
    overflow-x: hidden;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    opacity : 0;
    display : none;
    z-index : 600;
}	

#cloud-holder{
    position : absolute;
    left :0;
    z-index:-900;
}
.cloud{
    position : absolute;	
}

#sun{
    position: absolute;
    left : 450px;
    bottom : 528px;
    width: 100px;
    height : 100px;
    background-image: url('../images/sun1.png');
}

#moon{
    position: absolute;
    left : 650px;
    bottom : 100px;
    width: 80px;
    height : 80px;
    background-image: url('../images/moon.png');
    z-index: 2;
}

.element_canvas{
    position : absolute;
    width : 100%;
    height : 100%;
    z-index : -10; 	
}		

#container{
    height : 100%;	
}

#pronite_container{
    position: fixed;
    width:  8%;
    height:	44%;
    //	border : solid 1px #000;
    left : 28%;
    bottom : 48%;
    cursor : pointer;
}

#element_pronite{
    background-color : #ffffff;  	
}
/*
  #pronite_container:hover #element_pronite{
  background-color : #b20404;  	
  }	
  */
#casette_container{
    position : absolute;
    width: 7%;
    height: 7%;
    left:  31%;
    bottom : 36%;
    // border : solid 1px #000;
    cursor : pointer;
}

#element_casette{
    background-color : #ffffff;		
}	

#casette_container:hover #element_casette{
    background-color : #f8c2c2;	
}	

.player{
    position:absolute;
    z-index : -500;
    width : 7%;
    height : 7%;
    left : 31%;
    bottom : 36%;
    opacity : 0;	
}	

.play-pause {
    display : none;
    cursor: pointer;
    margin-left: 240px;
    margin-top: -80px;
    padding: 5px;
    position: absolute;
}

.play-pause img {
    height: 50px;
}

#contact_container{
    position : absolute;
    width : 7%;
    height : 24%;
    left : 65%;
    bottom : 30%;
    // border :solid 1px #000;
    cursor : pointer;	
}	

#element_contact{
    background-color : #ffffff;		
}
/*
  #contact_container:hover #element_contact{
  background-color : #faf686;		
  }
  */
#sponsor_container{
    position : absolute;
    width : 30%;
    height : 50%;
    left : 86%;
    bottom : 2%;
    cursor: pointer;
    //background-color : #000;	
    //border : solid 1px #000;
    border-top-left-radius : 120px;  
    border-top-right-radius : 150px;  
    border-bottom-left-radius : 120px; 
}	

#sponsor_container img {
    display: none;
    position: absolute;
    width: 40%;
    height: 100%;
    left : 5%;
    bottom : 0%;
}	

#sponsors .sponsor_type {
    margin-top: 10px;
    
}

#sponsors img {
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 7px 7px 20px #333;
    padding: 10px;
    margin: 10px; 
}
#sponsors img:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 20px #333;
}

#element_sponsor{
    z-index : -80;
    opacity : 0.5;
    background-color : #000000;	
}

#games_container{
    position : absolute;
    width : 4%;
    height : 6%;
    left : 27%;
    bottom : 37%;
    // border : solid 1px #000; 
    cursor : pointer;	
}	

#element_games{
    background-color : #ffffff;	
}
/*
  #games_container:hover #element_games{
  background-color : #eb59d5;	
  }
  */
#workshop_container{
    position : absolute;
    width : 24%;
    height : 26%;
    left : 75%;
    bottom : 46%;
    // border : solid 1px #000;
    cursor : pointer;	
}	

#element_workshop{
    position : absolute;
    width : 14%;
    height : 10%;
    left : 75%;
    bottom : 50%;
    background-color : #ffffff;	
    // border : solid 1px #000; 	
}	

#element_workshop_1{
    position: absolute;
    width : 7%;
    height : 4%;
    left : 77%;
    bottom : 50%;
    background-color : #ffffff;	
    //border : solid 1px #000;	
}

#element_workshop_2{
    position: absolute;
    width : 8%;
    height : 5%;
    left : 73%;
    bottom : 47%;
    background-color : #ffffff;	
    //border : solid 1px #000;	
}

#element_workshop_3{
    position: absolute;
    width : 18%;
    height : 12%;
    left : 80%;
    bottom : 53%;
    background-color : #ffffff;	
    //border : solid 1px #000;	
}

#element_workshop_4{
    position: absolute;
    width : 15%;
    height : 16%;
    left : 85%;
    bottom : 59%;
    background-color : #ffffff;	
    // border : solid 1px #000;	
}

#events_container{
    position : absolute;
    width : 18%;
    height : 28%;
    left : 8%;
    bottom : 40%;
    // border : solid 1px #000; 
    cursor : pointer;	
}	

#element_events_1{
    position : absolute;
    width : 2%;
    height : 13%;
    left : 24%;
    bottom : 40%;
    //border : solid 1px #000; 	
    background-color : #ffffff;	
}

#element_events_2{
    position : absolute;
    width : 5%;
    height : 13%;
    left : 20%;
    bottom : 41%;
    //border : solid 1px #000; 	
    background-color : #ffffff;	
}

#element_events_3{
    position : absolute;
    width : 9%;
    height : 11%;
    left : 16%;
    bottom : 44%;
    //border : solid 1px #000; 		
    background-color : #ffffff;	
}

#element_events_4{
    position : absolute;
    width : 13%;
    height : 10%;
    left : 11%;
    bottom : 47%;
    //border : solid 1px #000; 		
    background-color : #ffffff;	
}

#element_events_5{
    position : absolute;
    width : 11%;
    height : 4%;
    left : 11%;
    bottom : 57%;
    //border : solid 1px #000; 		
    background-color : #ffffff;
}

#element_events_6{
    position : absolute;
    width : 8%;
    height : 5%;
    left : 11%;
    bottom : 61%;
    //border : solid 1px #000; 	
    background-color : #ffffff;	
}

#element_events_7{
    position : absolute;
    width : 5%;
    height : 5%;
    left : 11%;
    bottom : 66%;
    // border : solid 1px #000; 	
    background-color : #ffffff;	
}

#house_1{
    position : absolute;
    left : 0%;
    bottom : 5%;
    height : 95%;
    width : 28%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-right-radius : 190px;
    z-index : -100;
}

#house_2{
    position : absolute;
    left : 27%;
    bottom : 19%;
    height : 17%;
    width : 10%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100;   	
}	

#house_3{
    position : absolute;
    left : 72%;
    bottom : 5%;
    height : 95%;
    width : 30%;
    //border : solid 1px #000;
    border-top-left-radius : 100px;
    background-color : #ffffff;
    z-index : -100;   	
}	

#house_4{
    position : absolute;
    left : 64%;
    bottom : 5%;
    height : 90%;
    width : 11%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-left-radius : 190px;	
    z-index : -100;   	
}	

#house_5{
    position : absolute;
    left : 55%;
    bottom : 15%;
    height : 65%;
    width : 11%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-left-radius : 190px;	
    z-index : -100;   	
}

#house_6{
    position : absolute;
    left : 50%;
    bottom : 20%;
    height : 50%;
    width : 5%;
    border-top-left-radius : 90px;	
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100;   	
}

#house_7{
    position : absolute;
    left : 45%;
    bottom : 22%;
    height : 36%;
    width : 5%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100;   	
}

#house_8{
    position : absolute;
    left : 38%;
    bottom : 22%;
    height : 36%;
    width : 8%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-left-radius : 90px;	
    z-index : -100;   	
}

#house_9{
    position : absolute;
    left : 36%;
    bottom : 51%;
    height : 4%;
    width : 3%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100; 
    
}	

.countdown{
    position : absolute;
    left : 12%;
    bottom : 5%;
    height : 23%;
    width : 7%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-right-radius : 50px;
    border-top-left-radius : 50px;
    z-index : -100; 
    font-size: 20pt;
    font-family: "Helvetica",serif;
    opacity: .95;
}

#time{
    position : absolute;
    left : 35px;
    top: -15px;
}	

#count_content{
    position : absolute;
    width : 5%;
    top : 48%;
    left : 28%;	
}	

.streetlight{
    position : absolute;
    left : 73%;
    bottom : 63%;
    height : 7%;
    width : 3%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100; 
    
}

#informals_container{
    position : absolute;
    left : 40%;
    bottom : 56%;
    height : 10%;
    width : 10%;
    //	border : solid 1px #000;
    cursor : pointer;
}	

#contacts ,#workshops ,#informals ,#events, #sponsors, #nothing{
    display : none;	
}

.contact {
    min-width: 250px; 
}

.contact .name {
    font-size: 130%; 
}

.contact .title {
    font-size: 100%; 
}

.contact .desig {
    font-size: 100%; 
}

.contact .mobile {
    font-size: 120%; 
    padding-top: 10px;
    color: #636f21;
}

.contact .email {
    color: #63216f;
    font-size: 95%;
    font-family: "Courier New";
}

.fl-r {float: right; }
.fl-l {float: left; }

.breaker {
    height: 130px;
    width: auto;
}

