body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow : hidden;	
}

#container_image{
    position : fixed;	
    width : 100%;	
    bottom: 0px;`
}	

#container_canvas{
    position : absolute;
    width : 100%;
    z-index : -1000;
    background-color : #ddf;
}

#brochure{
    position : absolute;
    width : 40%;
    left : 30%;
    top : 5%;
    height : 95%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    z-index : 400;
}

#brochure_sub{
    position : absolute;
    width : 100%;
    height : 90%;
    background :  url("../images/brochure_bg.jpg") no-repeat;
    background-size : 100% 90%;
    border-radius: 10px 10px 0 0;	
    z-index : 400;  	
}	

#brochure img{
    width : 50%;
    margin-top : -10%;	
}	

#auth-status {
    margin-top: 60px; 
}

#auth-loginlink, #auth-logoutlink {
    background-color: rgba(35, 35, 96, 0.8);
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    box-shadow: #333 3px 3px 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
}

#auth-loginlink:hover, #auth-logoutlink:hover {
    background-color: rgba(35, 35, 96, 1);
    color: #ddd;
}


#links {
    margin-top: 50px;
}

#links > div {
    height: 150px; 
    padding-left: 50px;
    padding-right: 50px;
}


#brochure a {
    text-decoration: none;	
    color: #666666;
    display: block;
    font-family: PFDinTextPro-Light;
    letter-spacing: 1px;
    //margin-bottom: -8px;
    //margin-right: -118px;
    //padding-left : 130px;
    //margin-top: 12px;
    //min-height: 32px;
    //position: relative;
    text-align: center;
    width: 118px;
}

#brochure a:hover {
    color: #00ADFF;	
}	

.heading {
    color: #666666;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.1;
    margin-left: 0px;
    min-height: 43px;
    position: relative;
    text-align: center;	
}	

.overlay_container {    
    position : fixed;
    width : 100%;
    height : 100%;
    z-index : 300;
    display : none;
    background-color : #444;
    opacity : 0.5;
    display : none;	
}

#overlay_close {
    background : rgba(0,0,0,.65);
    border-radius: 5px;
    color : #eee;
    cursor : pointer;
    display : none; 
    font-weight : bold;
    height : 20px;
    margin: 5px;
    margin-right: 15px;
    padding: 10px;
    position : absolute;
    right : 0;
    top : 0;
    z-index : 400; 	
}	

#overlay_close:hover {
    background : rgba(0,0,0,.7);
    color : #fff;
}	

#initial_container{
    position : absolute;
    z-index : -50;
    width : 100%;
    height : 100%;
    background-color : #fff;
}	

.overlay{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color : #e4d2c5;
    border-color: #e00;
    border-color: #e00 -moz-use-text-color;
    border-radius: 10px 10px 0 0;
    border-style: dotted dashed none;
    border-width: 5px 3px 0;
    box-shadow: 0 0px 1000px #e4d2c5;
    color: #111;
    font-family: Oswald, MyraidPro, Arial;
    font-size : 15px;
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    opacity : 0;
    display : none;
    z-index : 600;
}

.overlay h2 {
    text-align: center;
}	

#cloud-holder{
    position : absolute;
    left :0;
    width : 100%;
    height : 100%;
    z-index : -900;
}
.cloud{
    position : absolute;	
}

#sun{
    position: absolute;
    left : 450px;
    bottom : 528px;
    width: 100px;
    height : 100px;
    background-image: url('../images/sun1.png');
}

#moon{
    position: absolute;
    left : 650px;
    bottom : 100px;
    width: 80px;
    height : 80px;
    background-image: url('../images/moon.png');
    z-index: 2;
}

.element_canvas{
    position : absolute;
    width : 100%;
    height : 100%;
    z-index : 100; 	
}		

#container{
    height : 100%;	
}

#pronite_container{
    position: absolute;
    width:  8%;
    height:	44%;
    //	border : solid 1px #000;
    left : 28%;
    bottom : 48%;
    cursor : pointer;
    background-color : #fff;
}

#element_pronite{
    
}

#pronite_container:hover{
    background-color : #b20404;  	
}	

#casette_container{
    position : absolute;
    width: 7%;
    height: 7%;
    left:  31%;
    bottom : 36%;
    // border : solid 1px #000;
    cursor : pointer;
    background-color : #fff;	
}

#element_casette{
    
}	

#casette_container:hover{
    background-color : #f8c2c2;	
}	

.player{
    position:absolute;
    z-index : -500;
    width : 7%;
    height : 7%;
    left : 31%;
    bottom : 36%;
    opacity : 0;	
}	

.play-pause {
    display : none;
    cursor: pointer;
    width : 7%;
    height : 2%;
    left : 45%;
    bottom : 26%;
    position: absolute;
    z-index: 950;
}

#contact_container{
    position : absolute;
    width : 7%;
    height : 24%;
    left : 65%;
    bottom : 30%;
    background-color : #fff;	
    cursor : pointer;	
}	

#element_contact{

}

#contact_container:hover{
    background-color : #0aa;		
}

#sponsor_container{
    position : absolute;
    width : 30%;
    height : 50%;
    left : 86%;
    bottom : 2%;
    cursor: pointer;
    border-top-left-radius : 120px;  
    border-top-right-radius : 150px;  
    border-bottom-left-radius : 120px; 
    z-index : 10;
}	

#sponsor_cover_container{
    position : absolute;
    width : 30%;
    height : 50%;
    left : 86%;
    bottom : 2%;
    cursor: pointer;
    z-index : 100;   	
}	

#sponsor_container img {
    display: none;
    position: absolute;
    width: 43%;
    height: 110%;
    left : 5%;
    bottom :-8%;
}	

#sponsors .sponsor_type {
    margin-top: 10px;
    
}

#sponsors img {
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 7px 7px 20px #333;
    padding: 10px;
    margin: 10px; 
}
#sponsors img:hover {
    border-radius: 10px;
    box-shadow: 5px 5px 20px #333;
}

#element_sponsor{
    z-index : -80;
    opacity : 0.5;
    background-color : #000000;	
}

#games_container{
    position : absolute;
    width : 4%;
    height : 6%;
    left : 27%;
    bottom : 37%;
    // border : solid 1px #000; 
    background-color : #fff;
    cursor : pointer;	
}	

#element_games{
    
}

#games_container:hover{
    background-color : #eb59d5;	
}

#workshop_container{
    position : absolute;
    width : 24%;
    height : 26%;
    left : 75%;
    bottom : 46%;
    // border : solid 1px #000;
    cursor : pointer;	
    z-index : 10;
}	

#element_workshop{
    position : absolute;
    width : 14%;
    height : 10%;
    left : 75%;
    bottom : 50%;
    background-color : #fff; 
    // border : solid 1px #000; 
    z-index : -10;	
}	

#element_workshop_1{
    position: absolute;
    width : 7%;
    height : 4%;
    left : 77%;
    bottom : 50%;
    background-color : #fff;
    //border : solid 1px #000;	
    z-index : -10;	
}

#element_workshop_2{
    position: absolute;
    width : 8%;
    height : 5%;
    left : 73%;
    bottom : 47%;
    background-color : #fff;   
    //border : solid 1px #000;	
    z-index : -10;	
}

#element_workshop_3{
    position: absolute;
    width : 18%;
    height : 12%;
    left : 80%;
    bottom : 53%;
    background-color : #fff; 
    //border : solid 1px #000;	
    z-index : -12;	
}

#element_workshop_4{
    position: absolute;
    width : 15%;
    height : 16%;
    left : 85%;
    bottom : 59%;
    background-color : #fff; 
    // border : solid 1px #000;	
    z-index : -10;	
}

#events_container{
    position : absolute;
    width : 18%;
    height : 28%;
    left : 8%;
    bottom : 40%;
    // border : solid 1px #000; 
    cursor : pointer;	
    z-index : 10;	
}	

#element_events_1{
    position : absolute;
    width : 2%;
    height : 13%;
    left : 24%;
    bottom : 40%;
    //border : solid 1px #000; 	
    background-color : #fff; 
    z-index : -10;		
}

#element_events_2{
    position : absolute;
    width : 5%;
    height : 13%;
    left : 20%;
    bottom : 41%;
    //border : solid 1px #000; 	
    background-color : #fff; 
    z-index : -10;		
}

#element_events_3{
    position : absolute;
    width : 9%;
    height : 11%;
    left : 16%;
    bottom : 44%;
    //border : solid 1px #000; 		
    background-color : #fff; 
    z-index : -10;		
}

#element_events_4{
    position : absolute;
    width : 13%;
    height : 10%;
    left : 11%;
    bottom : 47%;
    //border : solid 1px #000; 		
    background-color : #fff; 
    z-index : -10;		
}

#element_events_5{
    position : absolute;
    width : 11%;
    height : 4%;
    left : 11%;
    bottom : 57%;
    //border : solid 1px #000; 		
    background-color : #fff; 
    z-index : -10;		
}

#element_events_6{
    position : absolute;
    width : 8%;
    height : 5%;
    left : 11%;
    bottom : 61%;
    //border : solid 1px #000; 	
    background-color : #fff;
    z-index : -10;		
}

#element_events_7{
    position : absolute;
    width : 5%;
    height : 5%;
    left : 11%;
    bottom : 66%;
    // border : solid 1px #000; 	
    background-color : #fff;  
    z-index : -10;		
}

#house_1{
    position : absolute;
    left : 0%;
    bottom : 5%;
    height : 95%;
    width : 28%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-right-radius : 190px;
    z-index : -100;
}

#house_2{
    position : absolute;
    left : 27%;
    bottom : 19%;
    height : 17%;
    width : 10%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100;   	
}	

#house_3{
    position : absolute;
    left : 72%;
    bottom : 5%;
    height : 95%;
    width : 30%;
    //border : solid 1px #000;
    border-top-left-radius : 100px;
    background-color : #ffffff;
    z-index : -100;   	
}	

#house_4{
    position : absolute;
    left : 64%;
    bottom : 5%;
    height : 90%;
    width : 11%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-left-radius : 190px;	
    z-index : -100;   	
}	

#house_5{
    position : absolute;
    left : 55%;
    bottom : 15%;
    height : 65%;
    width : 11%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-left-radius : 190px;	
    z-index : -100;   	
}

#house_6{
    position : absolute;
    left : 50%;
    bottom : 20%;
    height : 50%;
    width : 5%;
    border-top-left-radius : 90px;	
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100;   	
}

#house_7{
    position : absolute;
    left : 45%;
    bottom : 22%;
    height : 36%;
    width : 5%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100;   	
}

#house_8{
    position : absolute;
    left : 38%;
    bottom : 22%;
    height : 36%;
    width : 8%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-left-radius : 90px;	
    z-index : -100;   	
}

#house_9{
    position : absolute;
    left : 36%;
    bottom : 51%;
    height : 4%;
    width : 3%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100; 
    
}	

.countdown{
    position : absolute;
    left : 13%;
    bottom : 5%;
    height : 23%;
    width : 7%;
    //border : solid 1px #000;
    background-color : #ffffff;
    border-top-right-radius : 50px;
    border-top-left-radius : 50px;
    z-index : -100; 
    font-size: 20pt;
    font-family: "Helvetica",serif;
    font-weight : 900;
    opacity: .95;
}

#time{
    position : absolute;
    left : 35px;
    top: -15px;
}	

#count_content{
    position : absolute;
    width : 5%;
    top : 48%;
    left : 28%;	
}	

.streetlight{
    position : absolute;
    left : 73%;
    bottom : 63%;
    height : 7%;
    width : 3%;
    //border : solid 1px #000;
    background-color : #ffffff;
    z-index : -100; 
    
}

#informals_container ,#informals_cover_container{
    position : absolute;
    left : 40%;
    bottom : 56%;
    height : 10%;
    width : 10%;
    cursor : pointer;
}	

#informals_cover_container{
    z-index : 10;	
}		    $(element["overlay"]).css({
						  width: ((50/100)*w)+'px',
						  height: ((95/100)*h)+'px',
						  left: ((25/100)*w)+'px',
						  bottom: ((0/100)*w)+'px'
					      });
#informals_container canvas {
    position : absolute;
    margin-top: -30px;
    margin-left: -230px;
}	

#contacts ,#workshops ,#informals ,#events, #pronite, #sponsors, #nothing, .nothing{
    display : none;
}

#pronite h3 {
    color: #a00;
    text-align: center;
    background-color: rgba(255, 135, 135, .3);
    margin-top: 60px;
}

#pronite h4 {
    text-align: center;
}

#pronite img {
    max-width: 95%; 
    padding: 5px;
    box-shadow: rgba(60, 60, 60, .8) 2px 2px 15px;
}

#pronite p.break {
    margin-bottom: 30px;
}

.contact {
    min-width: 250px; 
}

.contact .name {
    font-size: 130%; 
}

.contact .title {
    font-size: 100%; 
}

.contact .desig {
    font-size: 100%; 
}

.contact .mobile {
    font-size: 120%; 
    padding-top: 10px;
    color: #636f21;
}

.contact .email {
    color: #63216f;
    font-size: 95%;
    font-family: "Courier New";
}

.fl-r {float: right; }
.fl-l {float: left; }

.breaker {
    height: 130px;
    width: auto;
}

#content {
    padding-top: 20px;
}

#content #list ul {
    line-height: 100%;
}

#content #list ul {
    padding-left: 10px;
    list-style: none;
}

#content #list li a {
    border-radius: 10px; 
    cursor: pointer;
    display: block;
    padding: 8px;
}

#content #list li a:hover {
    background-color: rgba(148,148,148,.2);
    box-shadow: rgba(212, 212, 212, 0.6) 2px 2px 10px;
    text-decoration: underline;
}

#ev_back {
    background-color: rgba(68, 68, 68, 0.3);
    border-radius: 25px 0 0 25px;
    border: 1px solid #fff;
    box-shadow: rgba(132, 132, 132, .4) 7px 5px 5px;
    color : #111;
    cursor: pointer;
    display : none;
    font-family: "Arial";
    font-weight : bold;
    float: left;
    padding: 5px 5px 5px 10px; 
}

#ev_back:hover {
    background-color: rgba(48, 48, 48, 0.2);
    border: 1px solid #ddd;
    box-shadow: rgba(132, 132, 132, .4) 5px 5px 5px;
    color : #000;
}

#workshop_header ul{
    list-style: none;	
}	

#workshop_header li{
    list-style: none;		
    padding: 0 1em;
    color : #666;	
}	

#workshop_header li::hover{
    color : #fff;
    font-weight : bold;	
}

.workshop {
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
}

.workshop h3 {
    margin-bottom: 180px; 
}

.workshop p {
    text-align: left;
}

.workshop img {
    display: block;
    margin: 20px;
    margin-top: -170px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    position: absolute;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
}

.event_sub_title{
    font-size: 20px;
    font-weight: bold;
    font-family: Oswald, MyraidPro, Arial;
    color: #444466;
}

.event-head{
    text-align : center;
    text-decoration: none;
    font-family: MyraidPro, Verdana, Arial;
    font-size: 25px;
    letter-spacing: 7px;
    color: #000;
}

#someC {
    width:150px; 
    height:150px;
    position:absolute; 
    top: -40px; 
}

#someC img {
    position: absolute; 
    z-index:-130; 
}

#updates{
    bottom : 85%;
    height : 5%;
    left : 0px;
    padding: 3px; 
    position : absolute;
    white-space: nowrap;
    z-index : -900;
}

.updates{
    color : #000;
    font-weight : bold;
    margin-left : 1100px;
}

.updates span{
    margin-left : 130px;
    background : #fff;		
}

#root h3{
    display : none;	
}	

.eventx { 
    margin-left: 20px; 
    display : none;
}

.ev_title {
    font-weight: bold; 
}

.ev_deadline { 
    color: red;
    font-weight: bold; 
    padding: 10px;
    padding-left: 0px;
}

.ev_rules {
    line-height: 20px;
}

.ev_prize { 
    color: red;
    font-weight: bold; 
    padding: 10px;
    padding-left: 0px;
}

.ev_contact {
    display: inline-block;
    margin: 5px;
    padding: 3px;
}

.ev_contact .ev_contact_name {
    font-size: 1.1em;
    font-style: italic;
}

.ev_sub_head { 
    font-weight: bold;
    font-size: 80%; 
}

.eventx ul { 
    margin-top: 0; 
}