@font-face {
    font-family: "OldEnglish";
    font-style: normal;
    src: url(old_english.ttf); /*if IE */
    src: local("OldEnglish Regular"), url("old_english.ttf") format("truetype"); /* non-IE */
}


a {
    cursor: pointer;
}


.fl-r {
    float: right;
}

.fl-l {
    float: left;
}

.breaker {
    height: 100px;
    width: auto;
}

#logo-container {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 0px;
}

#logo {
    position: absolute;
    z-index: 10;
}

.links {
    margin-top: 340px; 
    padding: 50px; 
}

.links.right {
    position: absolute;
    left: 100;
    top: "100px";
}

.links.left {
    position: absolute;
    right: 0;
    top: "100px";
}

#container {
    position: absolute;
    top: 440px; 
    left: 50%;
    margin-left: -350px;
    width: 700px; 
    border: 0px solid #000;
    min-height:500px;
    overflow: hidden;
}

#intro {
    position: absolute;
    width: 700px; 
}

#intro_link {
    display: none;
}

#contacts {
    font-family: "OldEnglish";
    display: none;
    width: 700px; 
}

.contact {
    min-width: 250px; 
}

.contact .name {
    font-size: 150%; 
}

.contact .desig {
    font-size: 130%; 
}

.contact .title {
    font-size: 130%; 
}

